header {
    margin-bottom: 5px;
    background-image: url(../img/back.jpg);
    font-family: cursive;
}
test {
    position: relative;
    padding: 18px 53px;
    background-image: Url(../img/momiji.png);
}
test2 {
    position: relative;
    padding: 18px 53px;
    background-image: Url(../img/wagara.png);
}
test3 {
    position: relative;
    padding: 18px 53px;
    background-image: Url(../img/back1.jpg);
}
.title
{
    text-align: center;
    height: 250px;
}
.font
{
    font-size: 100px;
    font-weight: bold;
    font-family: "HGP行書体", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: #000000;
    vertical-align: -125px;
}
.font1 {
    font-size: 50px;
    font-weight: bold;
    font-family: "HGP行書体", "ＭＳ Ｐ明朝", "MS PMincho", serif;
    color: #000000;
    vertical-align: -12px;
}
.font2
{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
a{
    text-decoration: none;
}
.logout {
    float: right;
    display: flex;
    justify-content: center;
	align-items: center;
    height: 40px;
    width: 100px;
    text-align: center;
    background-image: url(../img/back1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "HGP行書体", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
