<table align="center">
	<form method="POST" action="input">
		<tr><td align="right">SHELF_ID</td><td><input type="shelf_id" name="shelf_id" required></td></tr>
		<tr><td align="right">SHOP_ID</td><td><input type="shop_id" name="shop_id" required></td></tr>
		<tr><td align="right">基準温度</td><td><input type="reference_temperature" name="reference_temperature" required></td></tr>
		<tr><td align="right">温度</td><td><input type="temperature" name="temperature" required></td></tr>
		<tr><td align="right">計測時間</td><td><input type="temperature_at" name="temperature_at" required></td></tr>
		<tr><td colspan="2" align="right"><input type="submit" value="作成"></td></tr>
	</form>
</table>
