<table align="center">
	<form method="POST" action="input_item">
		<tr><td align="right">SHOP_ID</td><td><input type="shop_id" name="shop_id" required></td></tr>
		<tr><td align="right">SHELF_ID</td><td><input type="shelf_id" name="shelf_id" required></td></tr>
		<tr><td align="right">商品名</td><td><input type="item_name" name="item_name" required></td></tr>
		<tr><td align="right">販売会社</td><td><input type="sales_co" name="sales_co" required></td></tr>
		<tr><td align="right">値段</td><td><input type="price" name="price" required></td></tr>
		<tr><td colspan="2" align="right"><input type="submit" value="作成"></td></tr>
	</form>
</table>
