<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/program.css') }}">
	<title>商品管理アプリ</title>
</head>

<body>
	<div id="container">
		<header>
			<h1>
				<div class="title"><span class="font">商品管理アプリ</span></div>
			</h1>
			<ul1>
				<div class="page">
					<div class="logout"><a href="{{ url_for('index') }}" class="a"><span class="font2">ログアウト</a></div>
				</div>
			</ul1>
		</header>
		<div class="mar">
			<subtitle3><span class="midasi">検索結果</span></subtitle3>
			{{ msg|safe }}
			{{ table|safe }}
			<tr>
				<td align="left">{{ arti|safe }}</td>
				<td align="left">{{ arti2|safe }}</td>
				<td align="left">{{ arti3|safe }}</td>
				<td align="left">{{ arti4|safe }}</td>
				<td align="left">{{ arti5|safe }}</td>
			</tr>
			{% for d in data %}
			<tr>
				{% for c in d %}
				<td align="left">{{ c|safe }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			</table>
			<div class="loc2">
				<a href="select2">戻る</a>
			</div>
		</div>
	</div>
</body>

</html>