<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/program.css') }}">
	<title>温度管理アプリ</title>
</head>

<body>
	<header>
		<h1>
			<div class="title"><span class="font">温度管理アプリ</span></div>
		</h1>
	</header>
	<nav id="top_nav">
		<ul1>
			<div class="page">
				<div class="logout"><a href="{{ url_for('index') }}"><span class="font2">ログアウト</a></div>
			</div>
		</ul1>
	</nav>
	<div class="write">
		<span class="hello"><b>入力したい情報を選んでください</b></span>
	</div>
	<br>
	<test>
			<a href=\input><span class="font1">温度情報入力</span></a>
	</test>
	<test2>
		<a href=\input_item><span class="font1">商品情報入力</span></a>
	</test2>
</body>
</html>